<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PushAnimationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7513713A1F4BBA7F00C61E03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>751371561F4BBA8000C61E03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>751371611F4BBA8000C61E03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
